body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.collapse-container {
    width: 300px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); /* Apply blur effect */
    background: rgba(255, 255, 255, 0.1); /* Background color with opacity */
}

.collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.25); /* Background color with opacity */
    color: rgb(61, 40, 252);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    backdrop-filter: blur(10px); /* Apply blur effect */
}

.collapse-header i {
    flex: 0 0 auto;
}

.collapse-title {
    flex: 1;
    text-align: center;
    font-weight: 400;
}

.collapse-icon {
    transition: transform 0.3s;
    width: 20px;  /* Adjust the size of the icon as needed */
    height: 20px;  /* Adjust the size of the icon as needed */
    flex: 0 0 auto;
}

.collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: rgba(228, 228, 228, 0.1); /* Background color with opacity */
    padding: 0 15px;
    backdrop-filter: blur(10px); /* Apply blur effect */
}

.collapse-content ul {
    list-style-type: disc;
    padding-left: 20px;
}

.collapse-content li {
    padding: 10px 0;
    color : grey
}

footer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9em;
    color: #555;
}


